<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1028190424592-e7pm7grnk5rnv757ea8e5fucjkpukttn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028190424592-e7pm7grnk5rnv757ea8e5fucjkpukttn</string>
	<key>API_KEY</key>
	<string>AIzaSyCHWN4I-Ku3RYbCqbaPgCmqXc9dsstkerE</string>
	<key>GCM_SENDER_ID</key>
	<string>1028190424592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gorkemonder.HSRatings</string>
	<key>PROJECT_ID</key>
	<string>hsratings-2a465</string>
	<key>STORAGE_BUCKET</key>
	<string>hsratings-2a465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028190424592:ios:d8ad6434cffda5e8</string>
	<key>DATABASE_URL</key>
	<string>https://hsratings-2a465.firebaseio.com</string>
</dict>
</plist>